extends layout

block content
  h1= message
  h2= error.status
  pre #{error.stack}


//código certo:
extends layout

block content
  head
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css')
    link(rel='stylesheet', href='/stylesheets/time.css')

  section.navbar
    .logo
      img(src="/images/logo2.png", alt="LionFit", width="100")
    nav.menu
      ul
        li
          a(href="/aluno") Aluno
        li
          a(href="/planos") Planos
        li
          a(href="/nosso-time") Nosso time
        li
          a(href="/blog") Blog
        li
          button(onclick="window.location.href='/aluno'") Matricule-se

  .team-container
    h1 NOSSO TIME
    p.subtitle CONHEÇA NOSSOS PROFISSIONAIS
    .team-grid#team-grid-container
      //- Este espaço será preenchido pelo JavaScript

  footer
    .footer-top
      .conteiner-esq
        .logo
          img(src="/images/logo1.png", alt="LionFit")
        .redes-sociais
          ul
            li
              a(href="https://api.whatsapp.com/send?phone=558893644658")
                i.bi.bi-whatsapp
            li
              a(href="https://www.instagram.com/ctlionfit/")
                i.bi.bi-instagram
      .conteiner-dir
        .comunidade
          ul
            li
              a(href="") Eventos
            li
              a(href="/blog") Blog
            //- CORREÇÃO: O link agora aponta para /nosso-time
            li
              a(href="/nosso-time") Nosso time
        .contato
          ul
            li Rua Jacinto Cruz, 555. 02 de Agosto. Morada Nova - Ceará
            li +55 88 9364-4658
            li ctliofit@gmail.com
    hr
    .direitos
      p ©2025 CT LionFit. Todos os direitos reservados.

  //- O script está correto aqui no final
  script(src="/javascripts/time.js")



// rota 


const express = require('express');
const router  = express.Router();

// Rota nº 1: Renderiza a página principal
router.get('/', function(req, res, next) {
  res.render('time', { title: 'Nosso Time' });
});

// Rota nº 2: API para fornecer os dados da equipe em JSON
router.get('/api/membros', function(req, res, next) {
  const membrosDaEquipe = [
    {
      nome: 'Matheus',
      cargo: 'PROFESSOR',
      descricao: 'Especialista em musculação e treinamento de força...',
      imagem: '/images/teste1.jpg'
    },
    {
      nome: 'Jéssica',
      cargo: 'PROFESSORA',
      descricao: 'Apaixonada por dança e movimento...',
      imagem: '/images/teste2.jpg'
    },
    {
      nome: 'Carlos',
      cargo: 'PROFESSOR',
      descricao: 'Mestre em artes marciais...',
      imagem: '/images/teste3.jpg'
    },
    {
      nome: 'Ana',
      cargo: 'PROFESSORA',
      descricao: 'Com calma e precisão...',
      imagem: '/images/teste4.jpg'
    }
  ];
  res.json(membrosDaEquipe);
});

module.exports = router;

