extends layout 

block content
  link(rel='stylesheet' href='/stylesheets/login.css')

  section.navbar
    .menu-toggle
      i.bi.bi-list
      a(href=('/'))
        img(src="/images/logo2.png", alt="LionFit")
    .logo
      a(href='/')
        img(src='/images/logo2.png' alt='LionFit')
    nav.menu
      ul
        li
          a(href='/aluno/login-aluno') Aluno
        li
          a(href='/planos') Planos
        li
          a(href='/nosso-time') Nosso time
        li
          a(href='/blog') Blog
        li
          button(onclick="window.open('http://localhost:3000/aluno/', '_blank')") Matricule-se

  section.login
    .login-form
      h2 Entre na sua conta
      form(action='/aluno/login' method='post')
        input(type='email' name='email' placeholder='Email' required)
        input(type='password' name='senha' placeholder='Senha' required)
        button(type='submit') Entrar
      p Ainda não tem uma conta? 
        a(href='/cadastro') Cadastre-se
    .login-image
      img(src='/images/terreo2.jpg' alt='LionFit')

  footer
    .footer-top
      .conteiner-esq
        .logo
          img(src='/images/logo1.png' alt='LionFit')
        .redes-sociais
          ul
            li
              a(href='https://api.whatsapp.com/send?phone=558893644658')
                i.bi.bi-whatsapp
            li
              a(href='https://www.instagram.com/ctlionfit/')
                i.bi.bi-instagram
      .conteiner-dir
        .comunidade
          ul
            li
              a(href='#') Eventos
            li
              a(href='#') Blog
            li
              a(href='#') Nosso time
        .contato
          ul
            li Rua Jacinto Cruz, 555. 02 de Agosto. Morada Nova - Ceará
            li +55 88 9364-4658
            li ctliofit@gmail.com
    hr
    .direitos
      p ©2025 CT LionFit. Todos os direitos reservados.

  script(src='/javascripts/login.js')
